/* ------------------------- Navbar */

.navbar-container {
    margin-bottom: 0;
    padding: 0;
    top: 0;
}

.navbar {
    font-family: "Lato", sans-serif;
    font-size: 1.2em;
    padding-left: 70px;
    background-color: #6b121b !important;
    color: #fff;

}

.navbar-brand {
    font-size: 1.3em;
    color: #fff !important;
    margin-top: -8px;
}

.navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: #fff !important;
}

/* ------------------------- Header */

.container-wrapper--lp {
    margin-top: 0 !important;
    height: 100vh;
    background: url(/assets/images/bg-pic.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

.brandname {
    display: block;
    font-family: 'Raleway', sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 700;
    margin: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.callout {
    font-family: 'Raleway', sans-serif;
    color: #fff;
}


.modaltext {
    font-family: 'Raleway', sans-serif;
}

.uppercase {
    text-transform: uppercase;
}

.jumbotron {
    position: relative;
    background-color: transparent;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6)
}



/* ----------------- Buttons */

.btn--white {
    font-weight: bold;
    border-radius: 20px;
    background-color: #fff;
    height: 100px;
    width: 150px;
}

.btn--white:hover,
.btn--white:active,
.btn--white:focus,
.btn--white:active:focus {
    background-color: #e8a4a4;
}


/* ----------------- About Page */

.about-container {
    margin-top: 0 !important;
    background: url(/assets/images/cat.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 40px;
    

}

@media (max-width: 767px) {
    .about-container {
        background: url(/assets/images/cat.jpg) no-repeat top right fixed;
    }
}

.about-text-container {
    font-family: "Raleway", sans-serif;
    padding: 15px;
    text-align: justify;
    font-size: 1.2em;
}

.discount-shoutout {
    font-size: 1.4em;
}

.about-p-text-container {
    margin-top: 20px;
}

/* ----------------- Footer */

.footer-container {
    padding:0;
}


#footer-details {
    padding-top:20px;
    font-family: "Lato", sans-serif;
    font-size: 1.2em;
    padding-left: 70px;
    background-color: #6b121b !important;
    color: #fff !important; 
}

.events-pdf
{
    display:block;
}

.footer-brand {
    font-size: 1.3em;
    color: #fff !important;
}

.footer-brand:hover {
    text-decoration: none;
}

.download-callout {
    font-size: 0.7em;
    margin-bottom:10px;
}

.download-icon,
.social-icon {
    font-size: 1.5em;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #fff !important;
    
}



/* ----------------- Copyright */


.footer-copyright {
    margin:0;
}

#copyright-details {
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 0.8em;
    background-color: #27070a !important;
    color: #fff !important; 
}

.copyright-name {
    text-decoration: none;
    color: #fff;
}